<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for value,key in request.session.errors.items %}
        <p>{{key}}</p>
    {% endfor %}
    {{request.session.password_match}}
    {{request.session.duplicate_account}}

    <form action="register" method="post">
        {% csrf_token %}
        <table border="1">
            {{regform.as_table}}

            
        </table><br>
        <input type="submit" value="Register">

    </form><br><br><br>

    {{request.session.email}}
    {{request.session.pass_match}}
    <form action="check_log" method="post">
        {% csrf_token %}
        <table>
            {{loginform.as_table}}
        </table><br>
        <input type="submit" value="Log In">
    </form>

</body>
</html>